<!DOCTYPE html>
<html>
  <head>
    <title>ReserveApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header> 
    <h1>宿泊予約サイト</h1>
    <% if user_signed_in? %>
      <h2>ようこそ、 <%= current_user.name %> さん。</h2>
      <h4>メールアドレス: <%= current_user.email %></h4>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <h2>ようこそ、ゲストさん。</h2>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>
  </header>
    <%= yield %>
    <footer class="footer">
      <p>© 2022 Rui Miyamori</p>
    </footer>
  </body>
</html>
